.contenedorClimaLocalizacion{
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.1);
}

.contenedorClima{
    width: 103%;
    margin-left: -2%;
    padding-right: 1%;
    color: #fff;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0,0.3);
    text-align: center;
    background-color: #666;
    cursor: pointer;
}