.climaLista{
    height: 80vh;
    overflow: auto;
    margin-bottom: 2%;
}

@media(max-width:64em) {
    .climaLista{
        max-height: 40vh;
        /* overflow: auto; */
        margin-bottom: 2%;
    }
}

.titulo-pronostico{
    margin-top: 0%;
    color: #eee;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #555;
}