.contenedorClimaDatos{
    background-color: #eee;
    width: 101%;
    margin-top: -4%;
}

.contenedorClimaInformacion{
    width: 48%;
    display: inline-block;
}

.contenedorClimaTemperatura{
    background-color: #dfdfdf;
    padding: 2%;
    width: 48%;
    display: inline-block;
}

.wicon{
    color: rgb(205,172,74)
}

.temperatura{
    font-size: 40px;
    font-weight: bold;
    padding-left: 1%;
    color: #333;
}

.temperatura-grados{
    font-weight: bold;
    color: #666;
}

.informacion-text{
    display: block;
    font-size: 18px;
    color: #666;
}