.App {
  text-align: left;
  /* color: #444;
  background-color: #eee; */
  padding: 1%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rojo{
  background: rgb(223, 71, 97);
  height: 100px;
}
.verde{
  background: rgb(100, 219, 166);
  height: 100px;
}
.azul{
  background: rgb(100, 166, 219);
  height: 100px;
}
.negro{
  background: rgb(100,100,100);
  /* height: 100px; */
}
.titulo{
  color:#eee;
  background-color: #444;
  text-align: center;
  width: 100%;
  padding: 2%;
  margin-bottom: 0%;
}
.detalles{
  margin-top: 3.8%;
  background-color: #ccc;
  height: 76vh;
  width: calc(100%-40px);
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media(max-width:64em) {
  .detalles{
      max-height: 40vh;
      /* overflow: auto; */
      margin-bottom: 2%;
  }
}